@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
:root {
    --just-black: #000;
    --just-white: #FFF;
    --dark-gray: #757575;
    --medium-gray: #616161;
    --soft-gray: #F1F1F1;
    --main-gray: #212121;
    --regular-font-size: 1.25em;
    --medium-font-size: 1.5em;
    --large-font-size: 2.25em;
}
body {
    height: 120rem;
    background-color: var(--just-black);
}
/* Helpers */
.wrapper {
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}
/* /Helpers */
/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.60;
}
.navbar__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navbar__link {
    font-size: 0.75em; 
    display: inline-block;
    padding: 0.45rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--just-white);
}
/* /Navbar */
/* Hero */
.hero {
    margin-top: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.hero__container {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
}
.hero__developer-presentation {
    font-size: 2.85em;
    text-align: center;
    color: var(--just-white);
}
.hero__developer-scala {
    font-size: var(--regular-font-size);
    text-align: center;
    color: var(--just-white);
}
.hero__developer-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__developer-photo {
    width: 75%;
    max-width: 576px;
}
/* /Hero */
/* About */
.about {
    padding: 2rem 0;
}
/* Skills-Section */
.skills-section__title {
    margin-bottom: 1.2rem;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.45rem;
    border-bottom: 1px solid var(--just-white);
    font-size: var(--large-font-size);
    text-align: center;
    color: var(--just-white);
}
.skills-section__grid {
    display: grid;
    gap: 0.45rem;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}
.skills-section__skill-item {
    padding: 0.8rem;
    display: flex;
    gap: 0.45rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-gray);
}
.skills-section__skill {
    font-size: var(--regular-font-size);
    text-align: center;
    color: var(--just-white);
}
/* /Skills-Section */
/* /About */
/* Projects */
.projects-section {
    padding: 2rem 0;
}
.projects-section__title {
    max-width: 640px;
    margin-bottom: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.45rem;
    border-bottom: 1px solid var(--just-white);
    font-size: var(--large-font-size);
    text-align: center;
    color: var(--just-white);
}
.projects-section__grid {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(1, 1fr);
}
.project {
    flex-direction: column;
    text-decoration: none;
    background-color: var(--main-gray);
}
.project__img {
    width: 100%;
    height: 28vh;
}
.project__title {
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
    font-size: var(--medium-font-size);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: var(--just-white);
}
/* /Projects */
/* Contact */
.contact {
    padding: 2rem 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.contact__contact-me {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--just-white);
    font-size: var(--large-font-size);
    font-weight: bold;
    text-align: center;
    color: var(--just-white);
}
.contact__contact-form-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.contact__slogan {
    font-size: 0.95em;
    color: var(--dark-gray);
}
/* Contact-Form */
.contact-form {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
}
.contact-form__input {
    font-size: 0.95em;
    padding: 1rem 0.5rem;
    border: none;
}
.contact-form__btn-submit {
    width: max-content;
    padding: 0.75rem 1.5rem;
    border: none;
    font-size: 0.95em;
    text-transform: uppercase;
    background-color: var(--soft-gray);
}
/* /Contact-Form */
.contact__error-message {
    padding: 1rem;
    font-size: 0.95em;
    border: 1px solid #f5c6cb;
    color: #721c24;
    background-color: #f8d7da;
}
/* /Contact */
/* Footer */
.footer {
    padding: 2rem 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.footer__social-media-container {
    display: flex;
    gap: 0.45rem;
}
.footer__license {
    font-size: 0.95em;
    color: var(--dark-gray);
}
/* /Footer */
/* Icons */
.icon--sm {
    font-size: 1.08em;
}
.icon--md {
    font-size: 1.5em;
}
.icon--lg {
    font-size: 2em;
}
.icon--xl {
    font-size: 3.5em;
}
.icon--white {
    color: var(--just-white);
}
.icon--black {
    color: var(--just-black);
}
/* /Icons */
/* Helpers */
@media screen and (min-width: 680px) {
    .projects-section__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .wrapper {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .projects-section__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* /Helpers */